<!DOCTYPE html>

{% load staticfiles %} <!-- tell django we are going to use static files -->

<head>
  <title> Rango </title>
</head>

<body>
  <h1>Rango says...</h1>
  <div>
    hey there partner! <br />
    <strong> {{ boldmessage }} </strong><br />     <!-- boldmessage will be replaced by something else when template is used -->
  </div>
  <div>
    <a href="/rango/about/">About</a><br />     <!-- use the static template tag to say we want 'static_dir'/images/rango.jpg-->
    <img src="{% static 'images/rango.jpg' %}"
	 alt="Picture of Rango" \>
  </div> 
</body>

</html>
